
/*----------------------- single */
/* 
    Layout 
*/
/* 
    Content
 */
 .post--single {
    margin-bottom: 50px;
}

 /** Single Entry Thumb **/
.post--single .single-entry-thumb {
    margin-bottom: 25px;
 }

 /** Single Header **/
.post--single .single-header {
    margin-top: 0;
    margin-bottom: 35px;
}
.post--single .entry-cat {
    margin-bottom: 20px;
    padding: 5px 15px;
    letter-spacing: 1px;
}
.post--single .entry-title {
    margin-top: 0;
    margin-bottom: 20px;
}
.post--single .entry-teaser {
    margin: 0 0 20px 0;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
}
.post--single .entry-meta time {
    margin-top: 0;
}
.post--single .entry-meta > * {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;

}
.post--single .entry-meta:not(.entry-meta--box) > *:not(:last-child) {
    margin-right: 15px;
}
.post--single .entry-author__name,
.post--single a.entry-author__name {
    color: rgba(136, 136, 136, 0.9);
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

/** Single Body **/
.post--single .single-body {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.8);
}
.typography-copy ol, .typography-copy ul,
.comment-content ol, .comment-content ul {
    margin-bottom: 1.6em;
    padding-left: 1.8em;
}
.typography-copy ol li:not(:last-child),
.typography-copy ul li:not(:last-child),
.comment-content ol li:not(:last-child),
.comment-content ul li:not(:last-child) {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.post--single .entry-tags {
    margin-bottom: 30px;
    text-align: left;
}
.post--single a.post-tag {
    color: #717171;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 1px;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}
.post--single .entry-tags ul li {
    margin: 0;
    line-height: 2;
}
.post--single .entry-tags ul li:not(:last-child) {
    margin-right: 20px;
}

/** Single Footer **/
.post--single .single-footer {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.single-footer .entry-info {
    margin: 0;
    padding: 0;
    border: none;
}
.single-footer .entry-meta {
    margin-left: auto;
}
.single-footer .social-share ul {
    margin: 0 -10px;
}
.single-footer .social-share ul li a {
    padding: 0 10px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    text-align: center;
    line-height: 20px;
    color: #666;
}
.single-footer .social-share .social-list li > a .share-item__icon {
    text-align: center;
    font-size: 16px;
    color: #888;
    opacity: 0.9;
    font-weight: 300;
}
.single-footer .entry-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.single-footer .entry-author a.author__name {
    font-weight: 500;
    font-size: 13px;
    color: #888;
}
.single-footer .entry-author .author__avatar {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.single-footer .entry-author .time {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    color: #888;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.single-footer .entry-author .time:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 2px;
    background: #8d8d8d;
}

/** Single Entry Section **/
.single-entry-section {
    margin-top: 0;
    margin-bottom: 50px;
}
.single-entry-section .block-heading {
    margin-bottom: 45px;
}
.single-entry-section .block-heading__title {
    font-size: 22px;
    font-size: 1.5714rem; /*font system*/
    line-height: 1.41;
}

/** Author Box **/
.author-box {
    background-color: var(--color-white);
    border: none;
}
.author-box .author-name {
    margin-bottom: 15px;
}
.author-box .author-name a {
    color: var(--color-logo);
}
.author-box .author-bio {
    margin: 0 0 15px 0;
    max-width: 620px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.7;
}
.author-box .author-socials a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

/** Posts Navigation **/
.posts-navigation {
    padding: 40px 0;
    border-top: 1px solid rgba(0, 0, 0,0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.posts-navigation__label {
    position: initial;
    display: inline-block;
    margin-bottom: 15px;
    padding: 0;
    color: rgba(39, 39, 39, 0.6) !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.posts-navigation__label::before {
    content: none;
}
.posts-navigation__label img,
.posts-navigation__label img {
    margin-bottom: 3px;
    height: 7px;
}
.posts-navigation__prev .posts-navigation__label span {
    margin-left: 10px;
}
.posts-navigation__next .posts-navigation__label span {
    margin-right: 10px;
}

/** Posts Navigation - Post **/
.posts-navigation .post__text {
    max-width: 340px;
}
.posts-navigation .posts-navigation__next .post__text {
    margin-left: auto;
}
.post--horizontal-mini .post__thumb {
    margin-right: 20px;
    width: 96px;
    float: left;
    height: 96px;
}
.post--horizontal-mini .post__thumb a, 
.post--horizontal-mini .post__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post--horizontal-mini.post--horizontal-reverse .post__thumb {
    margin-left: 20px;
    margin-right: 0;
    float: right;
}
.post--horizontal-mini .post__title {
    font-size: 18px;
    font-size: 1.2857rem; /*font system*/
    line-height: 1.5;
    font-weight: 700;
}

/** Comments Section**/
.comments-section .block-heading {
    margin-bottom: 18px;
}
.comments-title {
    margin-bottom: 35px;
    padding-top: 50px;
    border-top: 1px solid #f8f8f8;
}
.comments-title:before {
    content: none;
}
.comment-list {
    margin-bottom: 40px;
}
.comment-meta {
    margin-bottom: 10px;
}

.comments-section .block-heading {
    margin-bottom: 10px;
}

.comments-section .comment-notes {
    opacity: 0.6;
    margin-bottom: 20px;
}
.comment-content {
    margin: 12px 0;
    font-size: 16px;
    font-size: 1.14286rem;
    line-height: 1.6;
    opacity: 0.9;
}
.comment-form > p {
    margin-bottom: 15px;
}
.comment-respond {
    margin-top: 0;
}
.comment-form > p label {
    margin-bottom: 12px;
}
.comment-form-cookies-consent {
    margin-bottom: 20px !important;
    clear: both;
}
.comment-form-cookies-consent > input[type=checkbox] {
    margin-top: 3px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
}
.comment-form-cookies-consent > label {
    margin: 0 !important;
    display: block;
    line-height: 1.5;
    font-weight: 400;
}
.comment-form .form-submit input[type="submit"] {
  background-color: var(--color-logo);
}
.comment-form .form-submit input[type="submit"]:hover,
.comment-form .form-submit input[type="submit"]:focus {
    opacity: 0.8;
    background-color: var(--color-logo);
}



.comment-form-comment textarea {
    max-width: 100%;
    min-height: 250px;
}
.comment-form-author, .comment-form-email, .comment-form-url {
    width: 50%;
    max-width: 50%;
    float: left;
}

.comment-form-email {
    padding-left: 15px;
}
.comment-form-url,
.comment-form-author {
    padding-right: 15px;
}

.comment-form input[type="text"], .comment-form input[type="email"],
.comment-form input[type="url"], .comment-form input[type="password"],
.comment-form input[type="search"], .comment-form input[type="tel"],
.comment-form input[type="number"], .comment-form textarea,
.comment-form textarea.form-control, .comment-form select, .comment-form  select.form-control {
    padding: 10px 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
@media (max-width: 575px) {
    .comment-form-author, .comment-form-email, .comment-form-url {
        width: 100%;
        max-width: 100%;
        float: left;
        padding: 0;
    }
}



/** single 2 **/
.atbs-single-style-2 .single-entry-thumb {
    margin-bottom: 35px;
}

/** single 3 **/
.atbs-single-style-3 .single-entry-thumb {
    margin-top: 0;
    margin-bottom: 35px;
}

/** single 5 **/
.atbs-single-style-5 .single-entry-thumb {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 35px;
}
.atbs-single-style-5 .single-entry-thumb-caption {
    position: initial;
    margin-top: 10px;
    padding: 0;
    color: var(--color-text);
}
.atbs-single-style-5 .single-entry-thumb-caption:before {
    content: none;
}
/*
    Responsive
*/
.entry-meta,
.entry-meta .entry-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 481px) {
    .typography-copy .h3, .typography-copy h3,
    .comment-content .h3, .comment-content h3 {
        font-weight: 700;
    }
}
@media (min-width: 768px) {
    .posts-navigation__prev {
        padding-right: 20px;
    }
    .posts-navigation__next {
        padding-left: 20px;
    }
}
@media (min-width: 768px) {
    .post--single .entry-title.typescale-3_2 {
        font-size: 2rem;
        line-height: 1.4;
    }
}
@media (max-width: 1199px) {
    /* 
        Layout 
    */
    /* 
        Content
    */
    .posts-navigation__label {
        margin-bottom: 10px;
    }
    .post--horizontal-mini .post__thumb {
        margin-right: 15px;
        width: 80px;
        height: 80px;
    }
    .post--horizontal-mini .post__title {
        font-size: 16px;
        font-size: 1.1428rem; /*font system*/
    }
}
@media (max-width: 991px) {
    /* 
        Layout 
    */
    /* 
        Content
     */
     .atbs-single-style-3 .single-entry-thumb {
        margin-bottom: 25px;
    }
}
@media (max-width: 767px) {
    /* 
        Layout 
    */
    /* 
        Content
    */
     .post--single {
        margin-bottom: 40px;
    }
    .single-entry-thumb, .single-entry-featured-media {
        margin-left: 0;
        margin-right: 0;
    }
    .post--single .entry-cat {
        margin-bottom: 15px;
    }
    .post--single .entry-title {
        margin-bottom: 15px;
        font-size: 24px;
        font-size: 1.7142rem; /*font system*/
        line-height: 1.375;
    }
    /** single 1,2 **/
    .atbs-single-style-1 .single-entry-thumb,
    .atbs-single-style-3 .single-entry-thumb,
    .atbs-single-style-4 .single-entry-thumb {
        margin-bottom: 25px;
    }
    .atbs-single-style-5 .single-entry-thumb {
        margin-bottom: 25px;
    }
    .typography-copy blockquote,
    .comment-content blockquote {
        font-size: 1.25em;
    }
    .typography-copy blockquote:before,
    .comment-content blockquote:before {
        font-size: 4.25em;
    }
    .single-footer .entry-info {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .single-footer .entry-meta {
        display: none;
    }
    .author-box {
        padding: 50px 0 10px;
    }
    .single-entry-section {
        margin-bottom: 40px;
    }
    .single-entry-section .block-heading {
        margin-bottom: 35px;
    }
    .posts-navigation {
        padding: 30px 0;
    }
    .posts-navigation__label {
        margin-bottom: 15px;
    }
    .post--horizontal-mini .post__thumb {
        margin-right: 20px;
        margin-bottom: 0;
        width: 96px;
        height: 96px;
    }
    .post--horizontal-mini .post__title {
        font-size: 18px;
        font-size: 1.2857rem; /*font system*/
        font-weight: 500;
    }
    .comments-title {
        padding-top: 40px;
    }
}
@media (max-width: 575px) {
    /* 
        Layout 
    */
    /* 
        Content
    */
     .single-entry-thumb, .single-entry-featured-media {
        margin-left: -15px;
        margin-right: -15px;
    }
    .atbs-single-style-2 .single-entry-thumb,
    .atbs-single-style-2 .single-entry-featured-media,
    .atbs-single-style-5 .single-entry-thumb,
    .atbs-single-style-5 .single-entry-featured-media {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 480px) {
    /* 
        Layout 
    */
    /* 
        Content
    */
     .post--single .entry-title {
        font-size: 22px;
        font-size: 1.5714rem; /*font system*/
        line-height: 1.41;
    }
     .entry-teaser {
         font-size: 1.1428rem; /*font system*/
         line-height: 1.5;
    }
    .typography-copy .h3, .typography-copy h3,
    .comment-content .h3, .comment-content h3 {
        font-weight: 600;
    }
    .typography-copy blockquote,
    .comment-content blockquote {
        font-size: 1.143em;
    }
    .typography-copy blockquote:before,
    .comment-content blockquote:before {
        font-size: 4em;
    }
}
@media (max-width: 380px) {
    /* 
        Layout 
    */
    /* 
        Content
    */
    .post--single .entry-cat {
        margin-bottom: 10px;
        /*padding: 0;*/
        /*background-color: transparent;*/
        /*color: var(--color-logo) !important;*/
        font-weight: 500;
    }
    .post--single .entry-title {
         font-size: 20px;
        font-size: 1.4285rem; /*font system*/
        line-height: 1.4;
    }
    .post--single .entry-meta > *:last-child {
        margin-left: 44px;
    }
    .posts-navigation__label {
        margin-bottom: 10px;
    }
    .post--horizontal-mini .post__thumb {
        margin-right: 15px;
        width: 80px;
        height: 80px;
    }
    .post--horizontal-mini .post__title {
        font-size: 16px;
        font-size: 1.1428rem; /*font system*/
        line-height: 1.5;
    }
}
/* .single ----------------------- */